<%if task.status%>
	<li id="<%=task.id%>" class="done">
<%else%>
	<li id="<%=task.id%>">
<%end%>

	<i class="fas fa-trash delete"></i> <%=link_to task.title, task_path(task.id), :method=> :put, remote:true %>
</li>